@import '../../styles/variables/base.scss';
@import '../../styles/variables/colours.scss';
@import './typography.scss';
@import './breakpoints.scss';
@import './focus.scss';

@mixin primary-button-hover {
  transition: all 0.1s;
  background-color: lighten($AP_P_Navy, $colour_varient);
  cursor: pointer;
}

@mixin primary-button-active {
  transition: all 0.2s;
  background-color: darken($AP_P_Navy, $colour_varient);
  color: white;
}

@mixin primary-button-focus {
  @include focus;
  @include focus-colour($AP_P_Navy);
}

@mixin button-padding {
  padding-top: $base_measure;
  padding-bottom: $base_measure;
  padding-left: $base_measure * 2;
  padding-right: $base_measure * 2;
}

@mixin button-base {
  @include button-padding;
  @include primary-button-focus;

  min-width: 100%;
  @include sm {
    min-width: $base_measure * 14;
  }

  height: $base_measure * 5;

  border-color: $AP_P_Navy;
  border: 1px solid $AP_P_Navy;
  border-radius: $base_measure / 2;

  @include heading-font;
  font-size: $base_measure * 1.75;
  line-height: $base_measure * 2;

  &[disabled] {
    color: $AP_P_Slate_Light;
    background-color: $AP_P_Light;
    border: solid 1px $AP_P_Slate_Light;

    &:hover {
      color: $AP_P_Slate_Light;
      background-color: $AP_P_Light;
      border: solid 1px $AP_P_Slate_Light;
    }

  }

  &::-moz-focus-inner {
    border: 0;
  }

}

@mixin primary-button-loading {
  color: rgba($color: #000000, $alpha: 0.0);
  position: relative;

  &::after {
    content: '';

    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border: $border_radius solid $AP_P_White;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
    animation: 1s rotate linear infinite;
    height: 20px;
    width: 20px;

    @keyframes rotate {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(1turn);
      }
    }
  }
}


@mixin primary-button  {

  @include button-base;

  color: $AP_P_White;
  background-color: $AP_P_Navy;

  &:hover {
    @include primary-button-hover;
  }

  &:active{
    @include primary-button-active;
  }

  &:focus {
    background-color: lighten($AP_P_Navy, $colour_varient);
  }

  &.loading {
    @include primary-button-loading;
  }

}

@mixin secondary-button  {

  @include button-base;

  color: $AP_P_Navy;
  background-color: $AP_P_White;

  &:hover {
    color: $AP_P_White;
    @include primary-button-hover;
  }

  &:active{
    @include primary-button-active;
  }

  &.loading {
    @include primary-button-loading;
  }

}


