@import './breakpoints.scss';
@import './typography.scss';
@import '../variables/colours.scss';
@import '../variables/base.scss';

@mixin infotip {
  button {
    background: transparent;
    border: none;
    &:focus {
      outline: 0;
    }
  }

  // This styling is for the icon that you click to open the infotip
  .toggleButton {
    display: flex;
    padding: 0;
    margin: 0;
    .icon-container {
      align-content: center;
      .icon {
        width: 20px;
        height: 20px;
        position: relative;
      }
    }
  }



  // This styling is for the container that opens
  .infotip-container {
    position: absolute;
    z-index: 100;
    .currentlyHidden {
      visibility: hidden;
    }
  }

  // This is the styling for the contents of the infotip
  .infotip-content {
    background-color: $AP_P_White;
    box-shadow: 0 0 $base_measure $AP_P_Slate;
    margin-right: $base_measure;
    max-width: $base_measure * 50;
    display: flex;
    flex-direction: row;
    z-index: 100;

    .infotip-inner {
      padding: $base_measure * 2;
      padding-right: $base_measure * 4;
      .infotip-head {
        font-weight: 700;
        margin-top: $base_measure * 2;
        &:first-of-type {
          margin-top: 0px;
        }
      }
      .infotip-body {
        margin: $base_measure 0 0 0;
        padding-right: $base_measure * 2;
      }
      
      .infotip-body,
      .infotip-head {
        font-size: $base_font_size;
        line-height: $base_font_line_height;
        @include body-font;
      }
    }

    button {
      height: auto;
      vertical-align: middle;
      position: absolute;
      right: 0;
      top: $base_measure * 2;
      margin-right: $base_measure * 3 - 1px;
      padding: 0;
    }

  }
}
