@import '../../styles/variables/base.scss';
@import '../../styles/variables/colours.scss';

@mixin chevron-link-base {
  color: $AP_P_Slate;
  padding-left: $base_measure * 2;
  position: relative;
  text-decoration: none;
  transition: color $link_transition;

  &:hover,
  &:hover .ap-link-chevron-svg {
    color: $AP_P_Slate_Dark;
    transform: translate3d(-($base_measure), 0, 0);
  }
}

@mixin chevron-link-svg {
  color: $AP_P_Slate;
  position: absolute;
  transform: translate3d(-($base_measure * 2), 0, 0);
  transition: transform $link_transition;
}

@mixin link-base {
  color: $AP_P_Slate;
  display: inline;
  position: relative;
  text-decoration: none;
  transition: color $link_transition;

  svg {
    g,
    path {
      fill: $AP_P_Slate_Dark;
    }
  }

  &:hover,
  &:focus {
    color: $AP_P_Slate_Dark;

    g,
    path {
      fill: $AP_P_Slate_Dark;
    }
  }
}

@mixin primary-link {
  @include link-base;

  &:focus {
    @include focus;
  }
}
