@import '../../styles/variables/base.scss';
@import './fonts.scss';

$base_measure: 8px;
$base_font_size: $base_measure * 1.75;
$base_font_line_height: $base_measure * 3;


@mixin body-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin heading-font {
  font-family: ap_letter, Helvetica, Arial;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin heading-sizes {
  h1 {
    @include heading-font;
    font-size: $base_measure * 4;
    line-height: $base_measure * 5;
  }

  h2 {
    @include heading-font;
    font-size: $base_measure * 3;
    line-height: $base_measure * 4;
  }

  h3 {
    @include heading-font;
    font-size: $base_measure * 2.5;
    line-height: $base_measure * 4;
  }

  h4 {
    @include heading-font;
    font-size: $base_measure * 2.25;
    line-height: $base_measure * 3;
  }

  h5 {
    @include heading-font;
    font-size: $base_measure * 1.75;
    line-height: $base_measure * 2;
  }

  h6 {
    @include heading-font;
    font-size: $base_measure * 1.5;
    line-height: $base_measure * 2;
  }

  small,
  sub {
    font-size: $base_measure * 1.5;
    line-height: $base_measure * 2;
  }
}

