@import url('./styles/config.css');
@import url('./styles/layout/grid.css');
@import url('./styles/layout/card.css');

body {
  background-color: var(--blue-gray-600);
  font-family: var(--font-family);
}

a, a:visited, a:active {
  color: var(--blue-gray-500);
  text-decoration: underline;
}

ul { list-style: none; padding: 0; margin: 0; }
li { list-style: none; padding: 0; margin: 0; }


.npm-modules .grid .row {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px var(--blue-gray-900);
}


@media (max-width: 680px) {
  .grid .column[class*="width_"] {
    width: 100%;
  }
  .npm-modules .grid .row {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px var(--blue-gray-900);
  }
  .npm-modules .grid .column[class*="width_"] {
    width: 100%;
  }
}

.markdown-body {
  /* Copied and pasted from ./styles/layout/card.css */
  --padding-vertical: 2;
  --padding-horizontal: 2;
  --margin-bottom: 2;

  margin-bottom: calc(var(--base-measure) * var(--margin-bottom));
  padding: calc(var(--base-measure) * var(--padding-vertical)) calc(var(--base-measure) * var(--padding-vertical));
  height: auto;
  width: auto;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 0 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: var(--border-radius);
  background-color: white;
}
