<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="./">
    <title>Grail Example</title>
    <style>
      * {
        box-sizing: border-box;
      }
      html, body {
        height: 100%;
      }
      .grail > * {
        border: solid 1px green;
      }
    </style>
    <link href="../config.css" rel="stylesheet">
    <link href="grail.css" rel="stylesheet">

  </head>
  <body>
    <h1>CSS Custom Framework - Grail Example</h1>
    <div class="grail">
      <div class="top">Top</div>
      <div class="left">Left</div>
      <div class="main">Content Goes Here</div>
      <div class="right">Right</div>
      <div class="bottom">Bottom</div>
    </div>
  </body>
</html>
