<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="./">
    <title>Grid Example</title>
    <style>
      * {
        box-sizing: border-box;
      }
    </style>
    <link href="../config.css" rel="stylesheet">
    <link href="grid.css" rel="stylesheet">

  </head>
  <body>
    <h1>CSS Custom Framework - Grid Example</h1>
    <div class="grid">
      <div class="row">
        <div class="column width_1">1</div>
        <div class="column width_2">2</div>
        <div class="column width_3">3</div>
        <div class="column width_3">3</div>
        <div class="column width_2">2</div>
        <div class="column width_1">1</div>
      </div>
      <div class="row">
        <div class="column width_4">4</div>
        <div class="column width_4">4</div>
        <div class="column width_4">4</div>
      </div>
      <div class="row">
        <div class="column width_5">5</div>
        <div class="column width_2">2</div>
        <div class="column width_5">5</div>
      </div>
      <div class="row">
        <div class="column width_6">6</div>
        <div class="column width_6">6</div>
      </div>
      <div class="row">
        <div class="column width_3">3</div>
        <div class="column width_7">7</div>
        <div class="column width_2">2</div>
      </div>
      <div class="row">
        <div class="column width_2">2</div>
        <div class="column width_8">8</div>
        <div class="column width_2">2</div>
      </div>
      <div class="row">
        <div class="column width_1">1</div>
        <div class="column width_9">9</div>
        <div class="column width_2">2</div>
      </div>
      <div class="row">
        <div class="column width_1">1</div>
        <div class="column width_10">10</div>
        <div class="column width_1">1</div>
      </div>
      <div class="row">
        <div class="column width_11">11</div>
      </div>
      <div class="row">
        <div class="column width_12">12</div>
      </div>
    </div>
  </body>
</html>
