/** Import the styles for the app here */
@import '../styles/utils/normalize.scss';

@import '../styles/variables/colours.scss';

@import '../styles/mixins/container.scss';
@import '../styles/mixins/fonts.scss';
@import '../styles/mixins/typography.scss';
@import '../styles/mixins/grid.scss';
@import '../styles/mixins/card.scss';


html {
  background-color: $AP_P_Light;
}

html, body, * {
  box-sizing: border-box;
}

body {
  font-size: $base_font_size;
  line-height: $base_font_line_height;
  @include body-font;
  @include heading-sizes;

  .container {
    @include container;
  }

  .card {
    @include card;
  }

  .grid {
    @include grid;

    [class^="col-"] {
      border-radius: 2px;
    }

  }

  .row {
    @include row;
    width: 100%;
  }

  .colLeft { @include column(12); }
  .colCenter { @include column(12); }
  .colRight { @include column(12); }

  @include md {
    .colLeft {
      border: solid 1px gray;
      @include column(2);
    }

    .colCenter {
      border: solid 1px gray;
      @include column(6);
    }

    .colRight {
      border: solid 1px gray;
      @include column(2);
    }
  }
}
