<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="./">
    <title>Notification Example</title>
    <style>
      * {
        box-sizing: border-box;
      }
      html, body {
        height: 100%;
      }
      .grail > * {
        border: solid 1px green;
      }
    </style>
    <link href="../../config.css" rel="stylesheet">
    <link href="notification.css" rel="stylesheet">

  </head>
  <body>
    <h1>CSS Custom Framework - Notification Example</h1>
    <div class="notification">
      <div class="grail">
        <div class="top">TOP</div>
        <div class="left">Left</div>
        <div class="main">Main</div>
        <div class="right">Right</div>
        <div class="bottom">Bottom</div>
      </div>
    </div>
  </body>
</html>
