$AP_P_White: #ffffff !default;
$AP_P_Black: #000000 !default;
$AP_P_Red: #DC1928 !default;
$AP_P_Navy: #1064A3 !default;

$AP_P_Dark: #292F33 !default;
$AP_P_Light: #F3F4F5 !default;

$AP_P_Slate_Light: #D0D5D8 !default;
$AP_P_Slate: #8A939D !default;
$AP_P_Slate_Dark: #535F67 !default;

$AP_P_Purple: #8177E7 !default;
$AP_P_Blue: #009ED9 !default;
$AP_P_Green: #00AC3E !default;
$AP_P_Orange: #FF9000 !default;

$colour_varient: 7% !default;
