@import '../variables/base.scss';
@import '../variables/colours';
@import './breakpoints';

@mixin card {
  margin-bottom: 2 * $base_measure;
  padding: 2 * $base_measure;
  height: auto;
  width: auto;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 0 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: $border_radius;
  background-color: $AP_P_White;
  // @include md {
  //   margin: 0 auto (4 * $base_measure);
  //   padding: 4 * $base_measure;
  //   max-width: 640px;
  // }
}
