@import '../variables/colours.scss';
@import '../variables/base.scss';
@import './typography.scss';

@mixin lozenge-base {
  display: inline;
  @include body-font;
  align-self: center;
  border-radius: 3px;
  color: $AP_P_White;
  font-size: $base_measure * 1.5;
  font-weight: 700;
  margin-left: $base_measure;
  padding: 0px 5px 1px;
  text-align: center;
  white-space: nowrap;
}

@mixin p-green {
  background-color: $AP_P_Green;
}
@mixin s-green {
  color: $AP_P_Green;
  background-color: $AP_P_White;
  border: 1px solid $AP_P_Green;
}
@mixin p-red {
  background-color: $AP_P_Red;
}
@mixin s-red {
  color: $AP_P_Red;
  background-color: $AP_P_White;
  border: 1px solid $AP_P_Red;
}
@mixin p-blue {
  background-color: $AP_P_Blue;
}
@mixin s-blue {
  color: $AP_P_Blue;
  background-color: $AP_P_White;
  border: 1px solid $AP_P_Blue;
}
@mixin p-orange {
  background-color: $AP_P_Orange;
}
@mixin s-orange {
  color: $AP_P_Orange;
  background-color: $AP_P_White;
  border: 1px solid $AP_P_Orange;
}
@mixin p-slate {
  background-color: $AP_P_Slate_Dark;
}
@mixin s-slate {
  color: $AP_P_Slate_Dark;
  background-color: $AP_P_White;
  border: 1px solid $AP_P_Slate_Dark;
}

@mixin lozenge {
  @include lozenge-base;

  &.p-green {
    @include p-green;
  }
  &.p-red {
    @include p-red;
  }
  &.p-blue {
    @include p-blue;
  }
  &.p-orange {
    @include p-orange;
  }
  &.p-slate {
    @include p-slate;
  }
  &.s-green {
    @include s-green;
  }
  &.s-red {
    @include s-red;
  }
  &.s-blue {
    @include s-blue;
  }
  &.s-orange {
    @include s-orange;
  }
  &.s-slate {
    @include s-slate;
  }
}