// Hide element while making it readable for screen readers
// Taken from: http://a11yproject.com/posts/how-to-hide-content/

@mixin sr-only {
  position: absolute;
  // clip of 0 causes text to not be read on some screen readers, so we need to use 1px
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
